/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lt_kp: lt_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_KP";
            bindings =
                <&lt>,
                <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        back_to_base {
            bindings = <&lt 1 0>;
            key-positions = <36 41>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none           &kp Q        &kp M               &kp G         &kp C           &kp Y             &kp X              &kp L                &kp H                &kp P            &kp Z  &none
&none  &mt LEFT_ALT D  &mt LCTRL A  &mt LEFT_COMMAND S  &mt LSHIFT E           &none             &none  &mt RIGHT_SHIFT T  &mt RIGHT_COMMAND I  &mt RIGHT_CONTROL N  &mt RIGHT_ALT O  &none
&none           &kp B        &kp K               &kp F         &kp U           &none             &mo 0              &kp R                &kp W                &kp V            &kp J  &none
                                    &lt_kp 2 BACKSPACE  &lt_kp 3 TAB  &lt_kp 4 SPACE    &lt_kp 5 ENTER    &lt_kp 6 ESCAPE      &lt_kp 7 DELETE
            >;
        };

        transparent {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        punctuation_brackets {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &trans  &trans   &none  &trans  &trans    &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS   &kp LESS_THAN  &kp GREATER_THAN  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans             &kp COMMA                &kp DOT        &kp SEMI         &kp COLON  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans      &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp LEFT_BRACE   &kp RIGHT_BRACE  &none
                       &trans  &trans  &trans    &trans                &trans                 &trans
            >;
        };

        numpad {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp BSLH  &kp N7  &kp N8  &kp N9     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp FSLH  &kp N4  &kp N5  &kp N6  &kp MINUS  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp N0  &kp N1  &kp N2  &kp N3  &kp EQUAL  &trans
                        &trans  &trans  &trans      &trans  &trans  &trans
            >;
        };

        quotes_dashes {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp RA(SINGLE_QUOTE)          &kp RA(O)  &kp RA(A)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans               &kp SQT  &kp DOUBLE_QUOTES  &kp GRAVE  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans             &kp MINUS     &kp UNDERSCORE  &kp TILDE  &trans  &trans
                        &trans  &trans  &trans    &trans                &trans             &trans
            >;
        };

        navigation {
            bindings = <
&trans  &kp LA(LG(LEFT_ARROW))     &kp PG_UP  &kp PG_DN  &kp LA(LG(RIGHT))  &trans    &trans  &trans  &trans  &trans  &trans  &trans
 &none          &kp LEFT_ARROW  &kp UP_ARROW   &kp DOWN          &kp RIGHT  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans            &kp LG(LEFT)      &kp HOME    &kp END      &kp LG(RIGHT)  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                                 &trans             &trans  &trans    &trans  &trans  &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        function_keys {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3   &kp F4  &trans    &trans  &kp F13  &kp F14  &kp F15  &kp F16  &trans
&trans  &kp F5   &kp F6   &kp F7   &kp F8  &trans    &trans  &kp F17  &kp F18  &kp F19  &kp F20  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &kp F21  &kp F22  &kp F23  &kp F24  &trans
                          &trans   &trans  &trans    &trans   &trans   &trans
            >;
        };
    };
};
